@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

.assignment { /*block*/
  width: 80%;
  .transition(background 0.5s ease);
  .transition(max-height 0.3s ease);
  border-color: #e1e1e4;
  display: block;
  padding: 5%;
}

.assignment__card { /*block__element*/
  border: 1px solid #e1e1e4;
  border-radius: 5px;
  font-family: 'Pontano Sans', sans-serif;
  display: inline-block;
  position: relative;
}

.assignment__card__title {
  overflow: hidden;
  cursor: pointer;
  height: 38px;
  font-size: 1.5em;
  font-weight: bolder;
  color: #fff;
  background-color: #1d2172;
  padding-left: 1%;
}

.assignment__card__summary {
  font-size: 0.9em;
  width: 90%;
  float: right;
  margin: 2% 3% 0 0;
}

.assignment__card--hidden { /*block__element--modifier*/
  display: none;
}

.assignment__card--hover {
  text-decoration: underline;
  background-color: #;
}

.btn {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 6px;
}

.btn__watch {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #2badd9;
}

.btn__watch:hover {
  background-color: #1e7997;
}

.gutter {
  display: inline-block;
  background-color: #ccc;
  width: 38px;
  height: 180px;
}

.gutter--left {
  float: left;
}
